<!DOCTYPE html>

<html>

<head>
    <style>
        .div-table-header {
            text-align: center;
            width: 80%;
            padding: 8px;
            line-height: 1.42857;
            vertical-align: top;
            background-color: #e4e4e48c;
            color: #36d4d4";

        }

        .font-color {
            color: #36d4d4;
        }
    </style>
    <title>
        <%= title%>
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="styleshhet" href="stylesheets/style.css">

</head>


<body>
    <div class="container mt-4">
        <div class="card">
            <div class="card-body" style="margin-left: 100px;">
                <table class="table table-bordered text-center">

                    <h2>Compare two restaurants</h2>
                    <form action="comparison" method="POST">
                      <div class="form-group">
                        <label for="rest1">Restaurant 1</label>
                        <input type="text" class="form-control col-lg-9" id="rest1" aria-describedby="emailHelp"
                          placeholder="ID of Restaurant 1" name="rest1">
                        <label for="rest2">Restaurant 2</label>
                        <input type="text" class="form-control col-lg-9" id="rest2" aria-describedby="emailHelp"
                        placeholder="ID of Restaurant 2" name="rest2">
                      </div>
                      <button type="submit" class="btn btn-primary">Compare</button>
                    </form>

                    <div class="div-table-header">
                        <strong>
                            <h1 class="font-color">Compare Restaurants</h1>
                        </strong>
                    </div>

                    <table class="table table-bordered table-hover" style="width:80%;text-align:center;">
                        <tr>
                            <td> Item</td>
                            <td> Restaurant1</td>
                            <td> Result </td>
                            <td> Restaurant2</td>
                            <td> Result </td>
                        </tr>

                        <% for(var i=0;i < compare_list.length;i++){ %>
                            <tr>
                                <td> <%= compare_list[i] %> </td>
                                <td> <%= col1[i] %></td>
                                <td> <strong style="font-size: 30px; color:red"> <%= result1[i] %> </strong> </td>
                                <td> <%= col2[i] %> </td>
                                <td> <strong style="font-size: 30px; color:red"> <%= result2[i] %> </strong> </Td>
                            </tr>
                            <% } %>
                    </table>
                </table>
            </div>
        </div>
    </div>



</body>



</html>